* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 14rem;
  background-image: url(./assets/colorful-book-shelf-resize.jpg);
  margin-top: 3rem;
}

h1 {
  font-size: 2.5rem;
  font-family: cursive;
  color: rgb(245, 245, 10);
  letter-spacing: 0.3ch;
  text-shadow: 1px 1px 2px rgb(233, 175, 175), 0 0 1em rgb(166, 166, 236),
    0 0 0.2em blue;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
p,
button {
  font-family: cursive;
  font-weight: 100;
  color: rgb(244, 244, 16);
  text-shadow: 1px 1px 1px rgb(115, 31, 31), 0 0 1em blue, 0 0 0.2em blue;
}

p {
  font-size: 0.9rem;
}

h4 {
  font-size: 1rem;
}

#page1 {
  background-color: antiquewhite;
  height: 100vh;
  width: 100vw;
}
#book-shelf {
  display: grid;
  grid-template-areas:
    'book-cover book-cover book-cover book-cover'
    'book-cover book-cover book-cover book-cover';
  row-gap: 2rem;
  margin-left: 10rem;
  margin-top: 4rem;
}

.book {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  height: 17rem;
  width: 13rem;
  padding: 1rem;
  border: 2px solid rgb(232, 239, 17);
  border-radius: 4px;
}

#goodnight-moon {
  /*background-color: #2F80ED;*/
  background-image: url(./assets/goodnight-moon-resize.jpg);
  background-size: cover;
}

#the-very-hungry-caterpillar {
  /*background-color: #27AE60;*/
  background-image: url(./assets/hungry-caterpillar-resize.jpg);
  background-size: cover;
}

#a-wrinkle-in-time {
  /*background-color: #6FCF97;*/
  background-image: url(./assets/wrinkle-in-time-resize.jpg);
  background-size: cover;
}

#harold-and-the-purple-crayon {
  /*background-color: #9B51E0;*/
  background-image: url(./assets/Harold-resize.jpg);
  background-size: cover;
}

#where-the-wild-things-are {
  /*background-color:#56CCF2;*/
  background-image: url(./assets/Wild-things-resize.jpg);
  background-size: cover;
}

#madeline {
  /*background-color: #F2C94C;*/
  background-image: url(./assets/madeline-resized.jpg);
  background-size: cover;
}

#the-tale-of-peter-rabbit {
  /*background-color: #F2994A;*/
  background-image: url(./assets/peter-rabbit-resized.jpg);
  background-size: cover;
}

#charlottes-web {
  /*background-color: #EB5757;*/
  background-image: url(./assets/Charlottes-web-resized.jpg);
  background-size: cover;
}

/*************** Page 2 ********************/
#page2-container {
  margin: 4rem;
}

#page2 {
  background-color: rgb(84, 53, 10);
  width: 100vw;
  height: 100vh;
  display: none;
}

#back-btn {
  display: block;
  font-size: 2rem;
  font-weight:bolder;
  background-color: rgb(128, 128, 128);
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.book-overview {
  display: flex;
  justify-content: space-around;
  margin-top: 10rem;
}

.book-cover {
  background-color: white;
  justify-content: flex-end;
  text-align: center;
}

.book-description {
  align-content: space-around;
}

.book-cover,
.book-description {
  display: flex;
  flex-direction: column;
  height: 38rem;
  width: 30rem;
  border: 2px solid rgb(242, 250, 11);
  padding: 2rem;
}

#page2-1-title,
#page2-1-author {
  color: black;
}

#page2-2-title,
#page2-2-author,
.description,
.facts {
  color: white;
}

#description {
  text-align: center;
  text-wrap: wrap;
}

.facts {
  display: grid;
  grid-template-areas:
    'fact fact'
    'fact fact ';
  row-gap: 2rem;
  background-color: rgba(95, 93, 93, 0.476);
  padding: 1rem;
  margin-top: 2rem;
}

#read-btn {
  background-color: rgb(236, 250, 83);
  color: black;
  font-size: 1rem;
  height: 3rem;
  width: 12rem;
  border-radius: 4px;
  border: none;
  font-weight: light;
  margin-top: 2rem;
}
